.blog-detail
{
	
}
.blog-detail-image
{
	float: left;
	margin: 0 10px 10px 0;
	width: 50%;
}
.blog-detail-footer
{
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 20px;
}
.blog-detail-link
{
	text-transform: uppercase;
	float: left;
}
.blog-detail-share
{
	float: right;
}
@media screen and (max-width: 768px) {
	.blog-detail-image
	{
		float: none;
		width: 100%;
	}
}
@media screen and (max-width: 400px) {
	.blog-detail-link,
	.blog-detail-share
	{
		float: none;
		margin: 10px 0;
	}
}

.blog_author{
	color:gray;
	margin-top: 15px;
}