#full-order-form div.error::before {
    -webkit-transform: translate(-50%,0.5rem);
    transform: translate(-50%,-0.2rem);
    top: 100%;
    bottom: auto;
    left: 50%;
    right: auto;
    opacity: 1;
    content: attr(data-tooltip);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
    background: rgba(74,74,74,.9);
    border-radius: 4px;
    color: #fff;
    max-width: 24rem;
    z-index: 99999;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}
#full-order-form div.error::after {
    top: 100%;
    bottom: auto;
    left: 50%;
    right: auto;
    border-color: transparent transparent rgba(74,74,74,.9) transparent;
    opacity: 1;
    margin-left: -0.5rem;
    margin-top: -1.2rem;
    content: "";
    border-style: solid;
    border-width: 0.5rem;
    z-index: 99999;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}

.cart .himself .asideCart{
    width: 270px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
	margin-left: 29px;
}
.cart .asideCart .title {
    color: #1e1e1e;
    font-family: AbradeBold;
    font-size: 18px;
    border-bottom: 2px solid #e6e6e6;
    padding: 20px 0;
    margin-bottom: 20px;

}
.cart .asideCart > div{
    padding: 25px;
}
.cart .asideCart img{
    float: right;
}
.cart .asideCart .totalPrice span{
    color: #1e1e1e;
    font-family: AbradeBold;
    font-size: 18px;
    font-weight: 700;
}
.cart .asideCart .totalPrice span:first-child{
    font-family: AbradeMedium;
    font-weight: 500;
}
.cart .asideCart > div:last-child{
    border-top: 1px solid #e6e6e6;
}
.cart .listPrice>div:last-child span.aside-delivery{white-space: nowrap;}
.cart .asideCart .totalPrice img{
    width: 40px;
    margin-right: -5px;
    margin-top: -10px;
}
.cart .buyOneClick a{
    width: 100%;
    min-width: auto;
    margin-top: 20px;
}

.cart .himself .himselfBlock{
    border: 1px solid #e6e6e6;
    background-color: #f9fafc;
    padding: 50px;
    margin-bottom: 18px;
    width: 868px;
    min-width: 700px;
    flex: 1;
    margin-right: 300px;
}
.cart .himself .himselfBlock:last-child{margin-bottom: 0px;}
.cart .titleBlockHimself{
    color: #1e1e1e;
    font-family: AbradeBold;
    font-size: 18px;
    margin-bottom: 28px;
}
.cart .himself .himselfBlock.delivery{
    padding-bottom: 0;
}
.cart .himself .itemDelivery,
.cart .himself .itemService{
    border: 1px dashed #d4d4d6;
    margin-right: 18px;
    padding: 35px 30px 35px;
    cursor: pointer;
    min-height: 145px;
}
.cart .himself .itemDelivery:hover,
.cart .himself .itemService:hover{
    border: 1px solid #d4d4d6;
}
.cart .himself .itemDelivery .title,
.cart .himself .itemService .title {
    font-size: 14px;
    font-weight: 400;
}
.cart .himself .itemDelivery .title{
    margin-bottom: 17px;
}
.cart .himself .itemService .title{
    margin-bottom: 35px;
}
.cart .himself .itemDelivery .price {
    color: #8dc63f;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat - Semi Bold";
    min-height: 14px;
}
.cart .himself .itemDelivery img,
.cart .himself .itemService img{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.cart .himself .listDelivery{
    margin: 20px 0px;
}
.cart .himself .listDelivery:last-child{margin-bottom: 28px; margin-top: 0px;}
.cart .himself .itemDelivery.active {
    background-color: #4084c5;
    border: 1px solid #4084c5;
}
.cart .himself .itemService.active{
    border: 1px solid #86be58;
    background-color: #ffffff;
}
.cart .himself .itemDelivery.active .title,
.cart .himself .itemDelivery.active .price{
    color: #fff;
}
.cart .delivery-for-MKAD-title{
    font-size: 14px;
    font-weight: 700;
    font-family: "RobotoBold";
    color: #000;
}
.cart .delivery-for-MKAD{
    margin: 30px 0;
}
.cart .if-MKAD {
    display: none;
    border-top: 1px solid #e6e6e6;
    margin: 0 -50px -10px -50px;
    padding: 0 50px 0 50px;
}

.order-error{
    border: 1px solid red !important;
}
.basket-item-image-link {
	min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 157px;
}

.basket-item-image {
	max-height: 130px !important;
	width: auto !important;
}


.clearCart {
   float: left;
}
.delivery-item-note{display: none; position: relative; font-size: 13px; line-height: 22px; padding: 0px 0px 25px;}
@media (max-width: 1024px) {
    .cart .asideCart{
        display: none;
    }
    .cart .himself .himselfBlock{
        min-width: auto;
        width: auto;
        flex: 1;
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .cart .himself .himselfBlock {
        padding: 40px 15px;
        width: auto;
        margin: 0 -15px 18px;
    }
    .cart .himself .itemDelivery,
    .cart .himself .itemService {
        padding: 25px;
        min-height: 80px;
        margin: 0 0 13px;
    }
    .cart .himself .itemDelivery .title,
    .cart .himself .itemService .title {
        font-size: 12px;
        margin-bottom: 10px;
        min-height: 14px;
        width: 85%;
    }

    .cart .if-MKAD {
        margin: 0 -50px 15px -50px;
    }
    .cart .himself .listDelivery{margin-bottom: 28px;}
    .cart .himself .listDelivery:last-child{margin-bottom: 28px; margin-top: 0px;}
}