.catalog-menu-popup .container>.columns>.column:last-child .is-size-4 {
    margin-bottom: 30px;
}

.catalog-menu-popup .popular > a.banner-promo {
    position: relative;
    margin-bottom: 35px;
    height: 135px;
}

.catalog-menu-popup .popular > a.banner-promo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s linear;
}

.catalog-menu-popup .popular > a.banner-promo:hover:before {
    background-color: rgba(0, 0, 0, .1);
    transition: all .3s linear;
}

.catalog-menu-popup .popular > a.product-promo {
    box-sizing: border-box;
    width: 270px;
    height: 135px;
    border: 1px solid #eee;
    display: flex;
    position: relative;
}

.catalog-menu-popup .popular > a.product-promo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s linear;
}
.catalog-menu-popup .popular > a.product-promo:hover::after {
    background-color: rgba(0, 0, 0, 0.1);
}

.catalog-menu-popup .popular > a.product-promo img {
    width: 135px;
    height: 135px;
    padding: 20px;
    object-fit: contain;
}

.catalog-menu-popup .popular > a.product-promo .info {
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
}

.catalog-menu-popup .popular > a.product-promo .info::after {
    content: "";
    background-image: url(images/arrowCard.png);
    background-size: 100% 100%;
    display: block;
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}
.catalog-menu-popup .popular > a.product-promo:hover .info::after {
    background-image: url(images/arrowHoverCard.png);
    right: 7px;
    bottom: 7px;
    width: 40px;
    height: 40px;
}

.catalog-menu-popup .popular > a.product-promo .info .name {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
    height: 45px;
    line-height: 15px;
    overflow-y: hidden;
    font-family: RobotoMedium;
    font-size: 13px;
    color: #444;
}

.catalog-menu-popup .popular > a.product-promo .info .price-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 68px;
    padding-bottom: 25px;
}

.catalog-menu-popup .popular > a.product-promo .info .price-block .old-price {
    font-family: AbradeMedium;
    font-size: 14px;
    color: #afa7a7;
    text-decoration: line-through;
}

.catalog-menu-popup .popular > a.product-promo .info .price-block .price {
    font-family: AbradeBold;
    font-size: 18px;
    color: #1e1e1e;
}

.catalog-menu-popup .columns .subcategories{background-color: transparent;
    width: 330px;
}
.catalog-menu-popup .columns .subcategories:after{
    display: none;
}
.categories__list{position: relative;}
.catalog-menu-popup .columns{justify-content: flex-start;}
.catalog-menu-popup .columns .categories__content:before{
    content: ""; position: absolute; height: 98%; top: 1%;
    left: 2px; width: 10%; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.columns .categories__content div.popular-column .is-size-4{line-height: 36px;}

.simple-type{width: 935px;margin: 0 auto;left: -235px; margin-top: 15px; border-top: 4px solid #2f80c8;
    overflow: visible;}
.simple-type:before{content: ""; display: block; position: absolute; left: 26px; top: -9px;
    background-color: #2f80c8; width: 10px; height: 10px; transform: rotate(45deg);}

.catalog-menu-popup.simple-type .btn:hover, .catalog-menu-popup.simple-type .categories__list-item--active,
.catalog-menu-popup.simple-type .categories__list-item--active:hover{
    color: #4084c5 !important; background-color: transparent;}
.catalog-menu-popup.simple-type .btn{padding: 0 1.75em;}
.catalog-menu-popup.simple-type .categories__list{padding: 28px 0px; min-width: 300px;
    background-color: #fff;}
.catalog-menu-popup.simple-type .columns{align-items: stretch;}
.catalog-menu-popup.simple-type .categories__content{position: relative; z-index: 100;}
.catalog-menu-popup.simple-type .categories__content .popular-column.column{background-color: #fff; padding: 32px 28px;}
.catalog-menu-popup.simple-type .popular-column:after{display: none;}